<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Blogpage</h1>
    <form action="/blogpage" method="post">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <input type="number" name="age" placeholder="Enter Age">
        <input type="text" name="sport" placeholder="Enter Your Sport">
        <input type="text" name="gender" placeholder="Enter Gender">
        <input type="number" name="mobile" placeholder="Enter Mobile Number">
        <input type="submit">
    </form>


    <table border="1">
        <tr>
            <th>Users</th>
            <th>password</th>
            <th>Age</th>
            <th>Sport</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>

        <% data.map((el,i)=>{ %>
            <tr>
                <td>
                    <%= el.username %>
                </td>
                <td>
                    <%= el.password %>
                </td>
                <td>
                    <%= el.age %>
                </td>
                <td>
                    <%= el.sport %>
                </td>
                <td>
                    <%= el.gender %>
                </td>
                <td>
                    <%= el.mobile %>
                </td>
                <td>
                    <a href="/blogpage/delete?id=<%= el._id %>">Delete</a>
                </td>
                <td>
                    <a href="/blogpage/edit?id=<%= el._id %>">Edit</a>
                </td>
            </tr>
            <% }) %>

    </table>

</body>

</html>